/** Theme: Minimal **/
.theme-minimal {
    color: #a7feef;
    margin: 0 0;
    background: #010101 url(../img/bk/bk-moon.png) no-repeat fixed center;
    font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
}


/** Page Articles **/
.theme-minimal > article {
    padding: 40px 8px 8px 8px;
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 0.0) 100%);
    margin: 0 auto;
    max-width: 1080px;
    min-height: 480px;
}


/** Page Headings **/
.theme-minimal article > h1 {
    font-size: 2.5em;
    color: #daf7ff;
}

.theme-minimal article > h2 {
    font-size: x-large /*     padding: 0 0.5em; */;
    color: beige;
}

.theme-minimal article > h3 {
    font-size:larger
/*     padding: 0 0.5em; */;
    margin-left: .5em;
    color: #bddfe9;
}

/** Paragraphs **/
.theme-minimal article > p {
    text-align: justify;
}

/** Footer **/

.theme-minimal > footer {
    text-align: center;
    margin-top: 100px;
    padding: 1em;
}

.theme-minimal > footer a {
    color: #bbb;
    text-decoration: none;
    text-transform: lowercase;
    background-color: rgba(81, 81, 81, 0.5);
    padding: 8px 16px;
    border-radius: 4px;
}

/** Page Navigation Links **/
.theme-minimal ul.page-links {
    list-style: none;
    text-align: center;
    padding: 0 0;
    margin: 0 0;
    background-color: rgba(0, 49, 77, 0.9);
    /* border-radius: 4px; */
}

.theme-minimal ul.page-links > li {
    display: inline-block;
    margin: 1px;
    transition: background-color  .2s ease-in;
}


.theme-minimal ul.page-links li a {
    display: block;
    text-align: left;
    padding: 7px;
    text-decoration: none;
    color: #7fe3ff;
}

.theme-minimal ul.page-links li.highlight,
.theme-minimal ul.page-links li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: background-color 0.1s ease-in;
    border-radius: 4px;
}

/** Anchor Links **/
.theme-minimal > article a {
    color: #f7aaff;
    text-decoration: none;
}

/** Page Menu Toggle **/
.theme-minimal .toggle-page-menu {
    display: none;
    margin: 1em;
    width: 48px;
    height: 48px;
    transform: rotate(90deg);
    transition: transform 0.3s;
    border-radius: 8px;
    user-select: none;
    outline: 0;
}

.menu.theme-minimal .toggle-page-menu {
    transform: rotate(0deg);
}


/** Mobile/Responsive View **/
@media only screen and (max-width: 500px) {

    /** Mobile Page Header **/
    .theme-minimal header.page-header {
        position: fixed;
        z-index: 1;
    }

    /** Mobile Articles **/
    .theme-minimal article {
        opacity: 1;
        transition: opacity 1s 0.5s ease-in;
    }
    .menu.theme-minimal article {
        opacity: 0.05;
        transition: opacity 0.2s ease-in;
    }

    /** Page Menu Toggle **/
    .theme-minimal .toggle-page-menu {
        display: block;
        /* position: absolute; */
    }

    /** Mobile Page Links **/
    .theme-minimal ul.page-links {
        /*position: absolute;*/
        background-color: #000;
        /*padding: 3em 1em;*/
        font-size: x-large;
        list-style: circle;
        max-width: 0;
        max-height: 0;
        transition: max-width 1s;
        overflow: hidden;
        white-space: nowrap;
        /*         padding: 0.5em; */
    }

    .theme-minimal ul.page-links > li {
        border: 1px outset #333;
    }
    .theme-minimal ul.page-links > li.highlight,
    .theme-minimal ul.page-links > li:hover {
        border: 1px outset #888;
    }

    .theme-minimal ul.page-links li {
        display: block;
    }


    .theme-minimal ul.page-links li a {
    }

    /** Menu Open **/
    .menu.theme-minimal ul.page-links {
        max-width: 500px;
        max-height: 1000px;
        z-index: 9;
    }

}
